body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.description-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.ant-form-item-label > label {
  font-size: 14px !important;
  font-weight: 500;
}
.text-h1 {
  font-size: 1.7rem !important;
}
.text-title {
  font-size: 1.5rem !important;
}
.bg-teal {
  background: #2B3467 !important;
  color: white !important;
}
.bg-grey {
  background: #5F6F94 !important;
}
.bg-white {
  background-color: white;
}
.p-20 {
  padding: 20px;
}
.text-c {
  text-align: center !important;
}
.fontWeight-7 {
  font-weight: 700;
}
.fontWeight-5 {
  font-weight: 500;
}
.fontWeight-6 {
  font-weight: 600;
}
.br-20 {
  border-radius: 20px;
}
.m-10 {
  margin: 10px;
}
.flex {
  display: flex !important;
}
.flex-d-col {
  flex-direction: column;
}
.align-c {
  align-items: center;
}
.just-btw {
  justify-content: space-between !important;
}
.w-80 {
  width: 80%;
}
.w-18 {
  width: 18% !important;
}
.w-50 {
  width: 50%;
}
.text-xl {
  font-size: 4rem;
}
.text-l {
  font-size: 2rem;
}
.text-md {
  font-size: 1.2rem;
}
.align-center {
  align-items: center !important;
}
.text-teal {
  color: teal;
}
.just-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.p-0-80 {
  padding: 0px 80px;
}
.scroll {
  overflow: scroll;
}
.bd-box {
  box-sizing: border-box;
}
.bg-red {
  background-color: red;
}
.view-w-100 {
  width: 100vw;
}
.view-h-100 {
  height: 100vh;
}
.text-c-white {
  color: white;
}
.w-100p {
  width: 100px;
}
.just-end {
  justify-content: end;
}
